%section.reset_password.container
  .row
    .span10.offset1
      = form_tag update_password_reset_path(@token), method: :put, class: "sign_in" do |f|
        %header
          %h1 Reset Your Password
        %fieldset
          = label_tag :password, "New Password"
          = password_field_tag :password
          = label_tag :password_confirmation, "Password Confirmation"
          = password_field_tag :password_confirmation
          = hidden_field_tag :token, @token
        %fieldset.action
          %input(type="submit" value="Reset Password" class="btn")
