%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        %img(src="#{@video.large_image}")
      .video_info.span3
        %header
          %h3= @video.title
          %span Rating: #{@video.rating}
        %p= @video.description
        .actions
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: "btn" unless current_user.has_video_in_queue?(@video)
          = link_to "+ Play Vidoe", queue_items_path(video_id: @video.id), method: :post, class: "btn" unless current_user.has_video_in_queue?(@video)

%section.reviews.container
  .row
    .span10.offset1
      = form_for [@video, @review] do |f|
        %fieldset
          %label Rate this video
          = f.select :rating, options_for_select((1..5).map {|num| [num.to_s + " Stars", num]})
          %label Write Review
          = f.text_area :content, rows: 6, class: "span6"
        %fieldset.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          %a(href="") Cancel

      %header
        %h3 User Reviews (#{@video.reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span Rating: #{review.rating} / 5
                %p by <a href="#{user_path(review.user)}"> #{review.user.full_name} </a>
              .span8
                %p= review.content
