%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        = image_tag("monk_large.jpg")
      .video_info.span3
        %h3= @video.name
        %span
        %h4 Average Ratings: #{@average_rating}
        %p= @video.description
        .actions
          =link_to " + My Queue", line_items_path(video_id: @video.id), method: :create, class: 'btn' 

%section.reviews.container
  .row
    .span10.offset1
      = bootstrap_form_for([@video, @review], html: {class: 'form-vertical'}) do |f|
        %fieldset
          %label Rate this video
          =f.select :rating, options_for_select([['5 Stars',5],['4 Stars', 4],['3 Stars', 3],['2 Stars', 2],['1 Stars', 1]])
        %fieldset.actions.clearfix
          =f.alert_message "Please fix errors below"
          =f.text_area :comment, class: 'span6', :size => "1x3"
        %fieldset.actions.clearfix
          =f.secondary ("Submit Review")
          %a(href="") Cancel
      %header
        %h3 User Reviews (#{@video.reviews.count})
      %ul
        -@reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span Rating:  #{review.rating}/ 5
                %p by <a href="#{user_path(review.user)}"> #{review.user.full_name} </a>
              .span8
                %p #{review.comment}</a>
