%section.my_queue.container
  .row
    .span10.offset1
      %article
        %header
          %h2 My Queue
      = form_tag update_line_path  do
        %table.table
          %thead
            %tr
              %th(width="10%") List Order
              %th(width="30%") Video Title
              %th(width="10%") Play
              %th(width="20%") Rating
              %th(width="15%") Genre
              %th(width="15%") Remove
          %tbody
          -@line_items.each_with_index do |list, pos|
            %tr
              %td
                = text_field_tag "line_items[#{list.id}][position]", pos+1
              %td
                = link_to list.video.name, list.video
              %td
                = link_to "Play", list.video.url, class: "btn"
              %td
                = select_tag "list_items[#{list.id}][rating]", options_for_select(5.downto(1).map { |n| ["#{pluralize(n, "star", "stars")}", n] }, list.rating), { include_blank: '' }
              %td
                = link_to list.video.category.title
              %td
                = link_to list, method: :delete, :confirm => " Are you Sure"  do
                  %i.icon-remove
            %tr
        = button_to "Update Instant Queue",update_line_path,  class: "btn"
